
.newCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 300px;
    padding: 15px;
    border-radius: 15px;

}
input{
    width: 80%;
}
button{
    margin-top: 20px;
}
.negative{

}
.numberDis {
    color:black;
    background-color: tomato;
    border: 1px solid tomato;
}
.number{
    color: black;
}
button {
    width: 48px;
    margin: 10px;
    margin-top: 0px;
}
buttonCont{
    display: flex;
    border: #282c34 1px solid;
}
.buttonDis{
    color: black;
}
