.app {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content {
    text-align: center;
    flex-direction: row;
    text-align: center;
    border: 2px solid black;

}

h1 {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
.numberDis {
    color:red;
}
.number{
    color: black;
}
button {
    width: 48px;
    margin: 10px;
    margin-top: 0px;
}
buttonCont{
    display: flex;
    border: #282c34 1px solid;
}